.container {
  display: flex;
  height: 100%;
  margin-top: 9rem;
  flex-direction: column;
  justify-content: space-around;
}

.todo {
  display: flex;
  width: 100vw;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.calendar-container {
  width: 30%;
  height: 80vh;
  background-color: #fff;
  border: 1px solid #000;
}

.todo-container {
  width: 50%;
  height: 80vh;
  background-image: url('https://mblogthumb-phinf.pstatic.net/MjAyMDEyMTlfMTg5/MDAxNjA4MzEwNjE3OTMw.C2kDke8JbxPHq9DR1NGFULEvua9_YQjfL9TPpaGjKeUg.UAdhUsGouN88uu0AgVahK0C5fljRmY3ilPYCXBpcnqYg.JPEG.nk920218/SE-986ca6f0-5076-4e64-9de9-a3d84e25bcc0.jpg?type=w800');
}

@media screen and (max-width: 768px) {
  .todo {
    flex-direction: column;
  }
  .calendar-container {
    width: 100%;
  }

  .todo-container {
    width: 100%;
  }
}
