.container {
  display: flex;
  height: 100%;
  margin-top: 9rem;
  flex-direction: column;
  justify-content: space-around;
}

.todo {
  display: flex;
  width: 100vw;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.calendar-container {
  width: 30%;
  height: 80vh;
  background-color: #fff;
  border: 1px solid #000;
}

.todo-container {
  width: 50%;
  height: 80vh;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .todo {
    flex-direction: column;
  }
  .calendar-container {
    width: 100%;
  }

  .todo-container {
    width: 100%;
  }
}
