.timer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
  background-color: #fff;
  border-bottom: 1px solid #000;
}

.timer h1 {
  margin: 0;
  padding: 0;
  font-size: 5rem;
  color: #222;
}

@media screen and (max-width: 768px) {
  .timer {
    height: 8rem;
  }
}
